button{
    text-decoration: none;
    font-size: 50px;
    font-family: Arial;
    border-color: rgb(17, 16, 16);
    background-image: "fundo.jpg";
    background-color: rgb(15, 228, 228);
    border-radius: 30px;
    border: solid 1px;
    padding: 15px;
}   

button:hover{
    opacity: 0.9;
    background: linear-gradient(to bottom, hwb(281 56% 7%), #9c0ad6);
}

body{
    font-size: 150%;
    text-align: center;
    background-color: rgb(122, 144, 240);
    margin: 30px;
}

h1{
    font-family: Helvetica;
    color: #fd216b;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000
}


.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}